<?php
return [
    'db-name'  => 'balt-brew',
    'db-user'  => 'root',
    'db-pass'  => 'change-me',
    'db-host'  => 'victor-mysql:3306',
    'home-url' => 'http://localhost:8196',
    'ssl'      => false,
    'debug'    => true,
    'salt'     => 'replace-with-a-long-random-string',
];
