#
<IfModule mod_rewrite.c>
  RewriteEngine On

  # https://xn--b1altb.xn--80aab3ake3c.xn--p1ai/ пиво.балтика.рф
  # RewriteRule ^(.*)$ https://xn--b1altb.xn--80aab3ake3c.xn--p1ai/ [R=302,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
